<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Albums Search By Andrew</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<style>
    h1 {text-align: center; padding: 100px; text-colour: #123456;}
    form {padding: 5px; text-align: center;}
</style>
    <h1>Search for Music Albums</h1>
    <form action = "/" method = "post">
    <label for="artist">Artist Name:</label>
    <input type="text" name="artist" required>
        <button type="submit" name = "sort" value="intYearReleased">Submit</button>
        <input type="hidden" name="sort" value="{{ sort }}">
        <input type="hidden" name="artist" value="{{ artist }}">
        <input type="hidden" name="reverse" value="{{ reverse }}">
    </form>
</body>
</html>